/* Dá um espaço no topo. */
body {
    padding-top: 4.5rem;
}

/* Cores predefinidas */
.bg-vermelho-principal {
    background-color: #bc2026;
}

.bg-vermelho-secundario {
    background-color: #a91d22;
}

/* Efeito de sombreamento */
.efeito-sombreamento {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.efeito-sombreamento:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* Logo */
.logo-topo {
    width: 60px;
    height: auto;
    margin-right: 6px;
    margin-top: -5px;
}

/* Barra pesquisa topo. */
#barraInformacaoTopo {
margin-top: -1rem;
margin-bottom: 1rem;
}
.sem-borda {
    border: 0 !important;
    box-shadow: none !important;
}

.icone-barra-informacao {
  height: 16px;
  width: auto;
  margin-top: -5px;
}

/* Cards */
.card {
  margin-top: 20px;
}

.preco-antes {
  font-size: 13px;
  text-decoration: line-through;
  display: block;
  font-weight: 700;
}
.preco-agora {
  font-size: 16px;
  font-weight: 700;
}

.preco-nota {
  font-size: 13px;
  display: block;
  font-weight: 700;
}

/* Rodapé */

.rodape {
  font-size: 85%;
  text-align: center;
  background-color: #f7f7f7;
}

.rodape a {
  font-weight: 500;
  color: #495057;
}

.rodape a:hover, .rodape a:focus {
  color: #007bff;
}

.rodape p {
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .rodape {
    text-align: left;
  }
}

.rodape-links {
  padding-left: 0;
  margin-bottom: 1rem;
}

.rodape-links li {
  display: inline-block;
}

.rodape-links li + li {
  margin-left: 1rem;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .descricao-lanchonete {
    height: 150px;
  }

  .descricao-produto {
    height: 100px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .descricao-lanchonete {
    height: 100px;
  }

  .descricao-produto {
    height: 100px;
  }
}

/* Tela de login*/
.login-block {
    
    margin-top: -4.5rem;

    background: #DE6262;
    /* fallback for old browsers */
    
    background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
    /* Chrome 10-25, Safari 5.1-6 */
    
    background: linear-gradient(to bottom, #FFB88C, #DE6262);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height: 100vh;
    width: 100%;
    padding: 50px 0;
}
.banner-sec {
    border-radius: 0 10px 10px 0;
    padding: 0;
}
.container-login {
    background: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}
.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}
.login-sec .copy-text i {
    color: #FEB58A;
}
.login-sec .copy-text a {
    color: #E36262;
}
.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #DE6262;
}
.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FEB58A;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto
}
.btn-login {
    background: #DE6262;
    color: #fff;
    font-weight: 600;
}
.banner-text {
    width: 70%;
    position: absolute;
    bottom: 40px;
    padding-left: 20px;
}
.banner-text h2 {
    color: #fff;
    font-weight: 600;
}
.banner-text h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}
.banner-text p {
    color: #fff;
}